In [1]:
import pandas as pd
import numpy as np

In [2]:
idx = pd.IndexSlice
pd.options.display.float_format = '{:,.3f}'.format

In [3]:
df = pd.read_pickle('E:/Data/DataSQL/df_merge')
col = pd.read_excel('E:/Data/6.Python/VND-col.xlsx')
sql_col = pd.read_excel('E:/Data/6.Python/SQL-col.xlsx')
nganh = pd.read_excel('E:/Data/NganhICB.xlsx')
list_ticker = list(nganh['ticker'].values)

In [4]:
def add_ratios(x):
    x['jv_income'] = x['jv_inc1'] + x['jv_inc2']
    x['cip'] = x['cip1']
    x['tax_rate'] = 1 - x['net_income'] / (1+x['pretax_inc'])
    x['op'] = x['gp'] - np.abs(x['admin_exp']) - np.abs(x['sel_exp'])
    x['op1'] = x['op'] + x['jv_income']
    x['EBT'] = x['op'] - np.abs(x['int_exp'])
    x['fin_income'] = x['fin_rev'] - (np.abs(x['fin_exp']) - np.abs(x['int_exp']))
    x['other_income'] = x['other_inc']
    # x['bs_gross_fa'] = x['gross_tfa'] + x['gross_ifa'] + x['gross_lease'] + x['gross_ip']
    x['bs_fa'] = x['net_tfa'] + x['net_ifa'] + x['net_ip'] + x['net_lease']
    x['bs_cash'] = (x['cce'] + x['net_st_inv'])
    x['bs_capex'] = -(x.sort_index(level=[0, 1]).groupby(level=0)["bs_fa"].diff(periods=1) +
                      x.sort_index(level=[0, 1]).groupby(level=0)["cip"].diff(periods=1))
    x['bs_ar'] = x['st_ar']
    x['bs_ap'] = x['st_trade_ap']
    x['bs_cust_pre'] = x['st_prepaid_cust'] + x['lt_prepaid_cust'] + x['st_unrev'] + x['lt_unrev']
    x['debt'] = x['st_debt'] + x['lt_debt']
    x['core_e'] = x['op'] * (1 - x['tax_rate'])
    x['op2'] = x['core_e'] + x['jv_income']
    x['netcash'] = (x['bs_cash'] - x['cl'])
    x['ic'] = x['te'] + x['debt']
    x['other_asset'] = x['ta'] - x['bs_cash'] - x['bs_ar'] - x['net_inven'] - x['bs_fa'] - x['cip']-x['lt_inv']
    x['other_lia'] = x['tl'] - x['debt'] - x['bs_ap'] - x['bs_cust_pre']
    x['other_equity'] = x['te'] - x['re'] - x['cap_e'] - x['bs_treasury']
    x['div'] = x['cf_div'] + x['cf_treasury']
    x['cf_delta_debt'] = x['cf_divay'] + x['cf_debt_paid'] + x['cf_lease_paid']
    x['cf_khac'] = (x['cfo'] + x['cfi'] + x['cff']) - (x['cf_capex'] + x['net_income'] + x['cf_dep']
                                                       + x['cf_e_raise'] + x['cf_delta_debt'] + x['div'])
add_ratios(df)

In [5]:
list_chitieu = ['rev','gp','sel_exp','admin_exp','net_income','ta','te','tl','bs_fa','cip','bs_cash','st_debt','lt_debt']

In [6]:
df.loc[idx['NVL',:,5],list_chitieu]
# .to_excel('HPG.xlsx')

                                       rev                    gp
Ticker year quarter
NVL    2013 5.000    1,600,397,507,425.000   320,549,255,378.000  \
       2014 5.000                      NaN                   NaN
       2015 5.000                      NaN                   NaN
       2016 5.000    7,359,180,920,815.000 1,583,079,509,254.000
       2017 5.000   11,632,336,029,173.000 3,256,830,954,272.000
       2018 5.000   15,290,276,732,393.000 5,157,976,346,679.000
       2019 5.000   10,930,983,111,920.000 3,151,657,933,844.000
       2020 5.000    5,026,358,409,438.000 1,832,878,970,155.000
       2021 5.000   14,902,759,885,713.000 6,135,607,688,671.000
       2022 5.000   11,135,215,544,574.000 4,347,919,272,692.000
       2023 5.000    4,756,902,213,820.000 1,322,207,649,307.000

                                   sel_exp              admin_exp
Ticker year quarter
NVL    2013 5.000      -63,645,090,903.000    -50,859,101,722.000  \
       2014 5.000                      NaN                    NaN
       2015 5.000                      NaN                    NaN
       2016 5.000     -165,484,975,281.000   -641,600,989,722.000
       2017 5.000     -258,292,397,030.000   -676,193,753,758.000
       2018 5.000     -424,217,309,126.000   -727,814,339,948.000
       2019 5.000     -294,869,082,499.000 -1,197,219,171,605.000
       2020 5.000     -164,007,104,072.000 -1,290,197,237,197.000
       2021 5.000   -1,291,095,498,588.000 -1,325,621,428,707.000
       2022 5.000     -932,950,082,028.000 -1,562,139,985,770.000
       2023 5.000     -291,975,056,813.000 -1,490,226,089,162.000

                               net_income                      ta
Ticker year quarter
NVL    2013 5.000       7,558,606,880.000   8,827,765,086,916.000  \
       2014 5.000                     NaN                     NaN
       2015 5.000                     NaN                     NaN
       2016 5.000   1,659,349,312,978.000  36,527,075,713,997.000
       2017 5.000   2,061,643,232,256.000  49,466,961,992,241.000
       2018 5.000   3,278,949,287,486.000  69,122,126,945,181.000
       2019 5.000   3,387,422,101,911.000  89,979,242,598,519.000
       2020 5.000   3,906,501,579,676.000 144,536,345,634,022.000
       2021 5.000   3,454,752,838,912.000 201,833,546,986,050.000
       2022 5.000   2,293,494,096,306.000 257,365,358,202,167.000
       2023 5.000     485,864,524,898.000 241,486,379,543,125.000

                                        te                      tl
Ticker year quarter
NVL    2013 5.000      878,500,725,525.000   7,388,996,568,112.000  \
       2014 5.000                      NaN                     NaN
       2015 5.000                      NaN                     NaN
       2016 5.000   10,046,890,137,071.000  26,480,185,576,926.000
       2017 5.000   13,256,390,503,420.000  36,210,571,488,821.000
       2018 5.000   19,969,799,690,207.000  49,152,327,254,974.000
       2019 5.000   24,461,073,831,847.000  65,518,168,766,672.000
       2020 5.000   31,932,147,185,707.000 112,604,198,448,315.000
       2021 5.000   41,173,113,331,969.000 160,660,433,654,081.000
       2022 5.000   44,929,694,265,875.000 212,435,663,936,292.000
       2023 5.000   45,302,850,042,403.000 196,183,529,500,722.000

                                    bs_fa                 cip
Ticker year quarter
NVL    2013 5.000     695,149,425,093.000               0.000  \
       2014 5.000                     NaN                 NaN
       2015 5.000                     NaN                 NaN
       2016 5.000   2,093,836,325,407.000 285,199,310,593.000
       2017 5.000   3,271,225,973,561.000 361,032,817,716.000
       2018 5.000   3,812,635,789,605.000 430,179,529,043.000
       2019 5.000   4,638,486,123,941.000 850,087,814,441.000
       2020 5.000   4,042,689,351,339.000 285,769,526,186.000
       2021 5.000   4,195,911,316,772.000 292,890,203,713.000
       2022 5.000   7,083,170,569,429.000 572,597,910,202.000
       2023 5.000   7,944,638,702,618.000 528,661,491,035.000

                                   bs_cash                st_debt
Ticker year quarter
NVL    2013 5.000      397,015,646,577.000  1,647,166,033,470.000  \
       2014 5.000                      NaN                    NaN
       2015 5.000                      NaN                    NaN
       2016 5.000    4,301,792,049,620.000  5,595,769,743,653.000
       2017 5.000    7,162,670,845,417.000  7,748,878,980,646.000
       2018 5.000   12,410,862,569,490.000 11,645,389,730,077.000
       2019 5.000    6,932,442,457,986.000  8,444,638,010,326.000
       2020 5.000   12,280,617,409,633.000 14,544,114,172,196.000
       2021 5.000   18,086,179,302,437.000 19,087,653,178,619.000
       2022 5.000    8,926,646,655,736.000 25,516,580,125,032.000
       2023 5.000    3,456,032,279,980.000 30,937,469,509,389.000

                                   lt_debt
Ticker year quarter
NVL    2013 5.000    2,266,305,717,363.000
       2014 5.000                      NaN
       2015 5.000                      NaN
       2016 5.000    7,907,493,558,081.000
       2017 5.000   10,200,873,745,673.000
       2018 5.000   16,262,686,196,964.000
       2019 5.000   26,145,644,448,493.000
       2020 5.000   34,357,216,078,896.000
       2021 5.000   41,430,753,323,566.000
       2022 5.000   39,060,194,817,382.000
       2023 5.000   26,774,936,365,837.000

In [55]:
list_thep = nganh[(nganh['ICB4']=='Thép và sản phẩm thép L4')&(nganh['ticker']!='HTS')&(nganh['ticker']!='ATP')]['ticker']

In [56]:
x = df.loc[idx[list_thep,:,5],['rev','gp','net_income']].unstack([0,2]).sort_index(level=[0,1])/10**9
x
x.to_excel('thep.xlsx')

In [51]:
df.loc['VIS']

                        acc_ifa acc_ip acc_lease                acc_tfa
year quarter
2005 5.000                0.000  0.000     0.000    -64,541,803,734.000  \
2006 5.000                0.000  0.000     0.000    -92,669,609,289.000
2007 1.000                0.000  0.000     0.000    -98,664,620,956.000
     2.000                0.000  0.000     0.000   -104,227,846,628.000
     3.000                0.000  0.000     0.000   -110,321,325,446.000
...                         ...    ...       ...                    ...
2021 4.000     -799,999,971.000  0.000     0.000 -1,275,573,953,251.000
     5.000     -799,999,971.000  0.000     0.000 -1,275,573,953,251.000
     6.000   -4,510,865,231.000  0.000     0.000 -1,259,178,352,938.000
     9.000   -4,648,530,191.000  0.000     0.000 -1,268,941,812,447.000
2022 1.000     -981,964,968.000  0.000     0.000 -1,280,799,284,052.000

                       admin_exp bs_jv bs_mi bs_treasury
year quarter
2005 5.000    -6,339,989,920.000 0.000 0.000       0.000  \
2006 5.000    -8,330,871,821.000 0.000 0.000       0.000
2007 1.000    -1,914,518,576.000 0.000 0.000       0.000
     2.000    -3,370,301,188.000 0.000 0.000       0.000
     3.000    -1,952,152,064.000 0.000 0.000       0.000
...                          ...   ...   ...         ...
2021 4.000   -13,239,948,663.000 0.000 0.000       0.000
     5.000   -54,130,488,918.000 0.000 0.000       0.000
     6.000   -26,867,935,097.000 0.000 0.000       0.000
     9.000   -40,890,540,255.000 0.000 0.000       0.000
2022 1.000   -14,992,657,792.000 0.000 0.000       0.000

                                ca               cap_e  ...
year quarter                                            ...
2005 5.000     486,943,128,261.000  75,978,200,000.000  ...  \
2006 5.000     551,664,284,397.000 100,000,000,000.000  ...
2007 1.000     501,468,661,408.000 100,000,000,000.000  ...
     2.000     421,699,682,977.000 100,000,000,000.000  ...
     3.000     706,996,660,303.000 150,000,000,000.000  ...
...                            ...                 ...  ...
2021 4.000   2,721,434,268,968.000 738,303,930,000.000  ...
     5.000   2,721,434,268,968.000 738,303,930,000.000  ...
     6.000   2,700,573,794,855.000 738,303,930,000.000  ...
     9.000   2,754,746,724,992.000 738,303,930,000.000  ...
2022 1.000   3,157,538,650,694.000 738,303,930,000.000  ...

                           core_e                op2                netcash
year quarter
2005 5.000     41,262,351,415.674 41,262,351,415.674   -387,757,245,238.000  \
2006 5.000     45,950,881,509.603 45,950,881,509.603   -421,438,215,189.000
2007 1.000     11,747,713,536.563 11,747,713,536.563   -454,914,983,170.000
     2.000     19,040,677,699.584 19,040,677,699.584   -359,151,918,504.000
     3.000     15,719,428,150.804 15,719,428,150.804   -575,468,208,058.000
...                           ...                ...                    ...
2021 4.000   -103,942,266,816.546                NaN -2,275,941,950,649.000
     5.000   -106,498,083,267.110                NaN -2,275,941,950,649.000
     6.000     81,961,932,184.630 81,961,932,184.630 -1,792,779,982,366.000
     9.000     -2,742,237,775.225                NaN -2,175,973,117,857.000
2022 1.000    -19,138,225,180.654                NaN -2,362,840,193,788.000

                                ic         other_asset           other_lia
year quarter
2005 5.000     673,436,225,934.000  18,505,378,188.000  19,627,870,583.000  \
2006 5.000     712,134,892,175.000  38,045,910,818.000  38,679,034,806.000
2007 1.000     561,394,601,298.000  40,977,973,543.000 132,864,596,642.000
     2.000     577,333,216,302.000  36,682,332,460.000  31,195,508,125.000
     3.000     806,348,668,499.000  45,620,667,701.000 100,253,669,108.000
...                            ...                 ...                 ...
2021 4.000   2,510,572,934,320.000 214,315,721,230.000 243,966,528,440.000
     5.000   2,510,572,934,320.000 214,315,721,230.000 243,966,528,440.000
     6.000   2,620,946,260,807.000 157,984,647,519.000  68,063,975,901.000
     9.000   2,642,683,926,343.000 213,781,223,911.000 240,845,152,610.000
2022 1.000   3,071,104,539,438.000 209,364,141,073.000  63,532,380,034.000

                    other_equity              div       cf_delta_debt
year quarter
2005 5.000    10,925,066,407.000 -248,111,529.000 176,687,037,737.000  \
2006 5.000     2,236,081,344.000 -169,440,000.000   8,593,726,752.000
2007 1.000     6,191,491,453.000              NaN                 NaN
     2.000     6,138,941,453.000              NaN                 NaN
     3.000     2,092,045,111.000              NaN                 NaN
...                          ...              ...                 ...
2021 4.000   305,245,102,775.000            0.000 -18,287,639,833.000
     5.000   305,245,102,775.000            0.000  35,550,670,319.000
     6.000   305,245,102,775.000            0.000 -60,210,727,073.000
     9.000   305,245,102,775.000            0.000  53,838,310,152.000
2022 1.000   305,245,102,775.000            0.000 597,409,341,173.000

                          cf_khac
year quarter
2005 5.000   -161,493,909,762.000
2006 5.000    -15,186,397,499.000
2007 1.000                    NaN
     2.000                    NaN
     3.000                    NaN
...                           ...
2021 4.000    204,392,937,946.000
     5.000    -79,523,481,257.000
     6.000   -239,698,978,292.000
     9.000   -283,916,419,203.000
2022 1.000   -164,623,957,737.000

[89 rows x 104 columns]

# GET SSI

In [10]:
import pandas as pd
import requests
from pandas import json_normalize
from io import BytesIO
import time
from datetime import datetime, timedelta
import json
import polars as pl

In [7]:


# API request config for SSI API endpoints
ssi_headers = {
        'Connection': 'keep-alive',
        'sec-ch-ua': '"Not A;Brand";v="99", "Chromium";v="98", "Google Chrome";v="98"',
        'DNT': '1',
        'sec-ch-ua-mobile': '?0',
        'X-Fiin-Key': 'KEY',
        'Content-Type': 'application/json',
        'Accept': 'application/json',
        'X-Fiin-User-ID': 'ID',
        'X-Fiin-User-Token':'79,14,109,2,77,63,182,226,168,166,146,27,233,245,5,195,0,200,169,49,153,168,150,254,116,248,73,45,23,61,239,77,183,194,66,44,130,28,239,66,27,56,75,64,56,106,32,203,36,15,41,203,250,254,180,226,198,77,152,213,125,234,19,189,68,11,105,241,12,164,235,22,207,252,226,142,142,239,234,206,6,141,63,201,33,169,127,101,9,25,210,180,120,123,145,86,239,76,144,170,24,236,42,224,97,18,41,250,154,193,169,100,133,44,162,88,201,178,212,112,53,114,12,95,81,58,144,233,119,10,24,138,241,254,39,124,10,203,168,121,230,82,103,254,250,60,20,249,237,230,12,76,78,65,234,48,255,62,102,6,201,137,37,132,182,151,246,26,37,81,123,183,82,209,104,37,195,103,138,251,132,30,158,210,151,131,145,67,235,171,34,119,235,73,193,80,232,193,102,189,47,70,108,12,43,253,60,16,114,169,91,125,8,129,40,14,219,191,133,180,200,249,65,81,108,254,163,47,151,3,1,35,132,124,160,200,104,243,64,185,149,215,77,222,174,177,231,227,14,240,127,167,68,133,199,216',
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36',
        'X-Fiin-Seed': 'SEED',
        'sec-ch-ua-platform': 'Windows',
        'Origin': 'https://iboard.ssi.com.vn',
        'Sec-Fetch-Site': 'same-site',
        'Sec-Fetch-Mode': 'cors',
        'Sec-Fetch-Dest': 'empty',
        'Referer': 'https://iboard.ssi.com.vn/',
        'Accept-Language': 'en-US,en;q=0.9,vi-VN;q=0.8,vi;q=0.7'
        }

In [8]:
def organ_listing (lang='vi', headers=ssi_headers):
    """
    Return a DataFrame of all available stock symbols. Live data is retrieved from the SSI API.
    Parameters:
        lang (str): language of the data. Default is 'vi', other options are 'en'
        headers (dict): headers of the request
    """
    url = f"https://fiin-core.ssi.com.vn/Master/GetListOrganization?language={lang}"
    response = requests.request("GET", url, headers=headers)
    status = response.status_code
    if status == 200:
        data = response.json()
        # print('Total number of companies: ', data['totalCount'])
        df = pd.DataFrame(data['items'])
        return df
    else:
        print('Error in API response', response.text)
def financial_report (symbol='SSI', report_type='BalanceSheet', frequency='Quarterly', periods=200, latest_year=None, headers=ssi_headers): # Quarterly, Yearly
    """
    Return financial reports of a stock symbol by type and period.
    Args:
        symbol (:obj:`str`, required): 3 digits name of the desired stock.
        report_type (:obj:`str`, required): BalanceSheet, IncomeStatement, CashFlow
        report_range (:obj:`str`, required): Yearly or Quarterly.
    """
    symbol = symbol.upper()
    organ_code = organ_listing().query(f'ticker == @symbol')['organCode'].values[0]
    this_year = str(datetime.now().year)
    if latest_year == None:
      latest_year = this_year
    else:
      if isinstance(latest_year, int) != True:
        print('Please input latest_year as int number')
      else:
        pass
    url = f'https://fiin-fundamental.ssi.com.vn/FinancialStatement/Download{report_type}?language=vi&OrganCode={organ_code}&Skip=0&Frequency={frequency}&numberOfPeriod={periods}&latestYear={latest_year}'
    response = requests.get(url, headers=headers)
    # print(response.text)
    status = response.status_code
    if status == 200:
        df = pd.read_excel(BytesIO(response.content), skiprows=7).dropna()
        return df
    else:
        print(f'Error {status} when getting data from SSI. Details:\n {response.text}')
        return None

In [9]:
list_chitieu = ['TỔNG TÀI SẢN','TÀI SẢN NGẮN HẠN','Tiền và tương đương tiền','Giá trị thuần đầu tư ngắn hạn','Các khoản phải thu','Hàng tồn kho, ròng','TÀI SẢN DÀI HẠN','Phải thu dài hạn','Tài sản cố định','GTCL TSCĐ hữu hình','Nguyên giá TSCĐ hữu hình','Khấu hao lũy kế TSCĐ hữu hình','GTCL Tài sản thuê tài chính','Nguyên giá tài sản thuê tài chính','Khấu hao lũy kế tài sản thuê tài chính','GTCL tài sản cố định vô hình','Nguyên giá TSCĐ vô hình','Khấu hao lũy kế TSCĐ vô hình','Bất động sản đầu tư','Nguyên giá tài sản đầu tư','Khấu hao lũy kế tài sản đầu tư','Tài sản dở dang dài hạn','Đầu tư dài hạn',
                'NỢ PHẢI TRẢ','Nợ ngắn hạn','Phải trả người bán','Người mua trả tiền trước','Doanh thu chưa thực hiện ngắn hạn','Vay ngắn hạn','Nợ dài hạn','Người mua trả tiền trước dài hạn','Doanh thu chưa thực hiên','Vay dài hạn','Trái phiếu chuyển đổi','VỐN CHỦ SỞ HỮU','Vốn góp','Thặng dư vốn cổ phần','Cổ phiếu Quỹ','Lãi chưa phân phối','Lợi ích cổ đông không kiểm soát','Doanh số thuần','Lãi gộp','Thu nhập tài chính','Chi phí tài chính','Trong đó: Chi phí lãi vay','Lãi/(lỗ) từ công ty liên doanh','Chi phí bán hàng','Chi phí quản lý doanh  nghiệp','Thu nhập khác, ròng','Lãi/(lỗ) ròng trước thuế','Lãi/(lỗ) thuần sau thuế','Lợi nhuận của Cổ đông của Công ty mẹ',
                'Lưu chuyển tiền thuần từ các hoạt động sản xuất kinh doanh','Khấu hao TSCĐ',
                # 'Chi phí dự phòng','Chi phí lãi vay','Chi phí lãi vay đã trả','Thuế thu nhập doanh nghiệp đã trả',
                'Lưu chuyển tiền tệ ròng từ hoạt động đầu tư','Tiền mua tài sản cố định và các tài sản dài hạn khác','Tiền thu được từ thanh lý tài sản cố định','Cổ tức và tiền lãi nhận được','Lưu chuyển tiền tệ từ hoạt động tài chính','Tiền thu từ phát hành cổ phiếu và vốn góp','Chi trả cho việc mua lại, trả lại cổ phiếu','Tiền thu được các khoản đi vay','Tiển trả các khoản đi vay','Tiền thanh toán vốn gốc đi thuê tài chính','Cổ tức đã trả'
]
def add_ratios_Y(x):
    x = x[list_chitieu]
    x['bs_cash'] = x['Tiền và tương đương tiền'] + x['Giá trị thuần đầu tư ngắn hạn']
    x['bs_ar'] = x['Các khoản phải thu'] + x['Phải thu dài hạn']
    x['bs_fa'] = x['GTCL TSCĐ hữu hình'] + x['GTCL Tài sản thuê tài chính'] + x['GTCL tài sản cố định vô hình'] + x['Bất động sản đầu tư'] 
    x['bs_gross_fa'] = x['Nguyên giá TSCĐ hữu hình'] + x['Nguyên giá tài sản thuê tài chính'] + x['Nguyên giá TSCĐ vô hình'] + x['Nguyên giá tài sản đầu tư']
    x['other_asset'] = (x['TỔNG TÀI SẢN'] - x['bs_cash'] - x['bs_ar'] - x['Hàng tồn kho, ròng'] - x['bs_fa'] - x['Tài sản dở dang dài hạn']-x['Đầu tư dài hạn'])
    x['bs_cust_pre'] = x['Doanh thu chưa thực hiện ngắn hạn'] + x['Doanh thu chưa thực hiên'] + x['Người mua trả tiền trước'] + x['Người mua trả tiền trước dài hạn']
    x['debt'] = x['Vay ngắn hạn'] + x['Vay dài hạn'] + x['Trái phiếu chuyển đổi']
    x['other_lia'] = (x['NỢ PHẢI TRẢ'] - x['debt'] - x['Phải trả người bán'] - x['bs_cust_pre'])
    x['other_equity'] = (x['VỐN CHỦ SỞ HỮU'] - x['Vốn góp'] - x['Lãi chưa phân phối'] - x['Cổ phiếu Quỹ'])
    x['netdebt'] = (x['debt'] - x['bs_cash'])
    x['ca/ta'] = x['TÀI SẢN NGẮN HẠN']/(1+x['TỔNG TÀI SẢN'])
    x['de'] = x['debt']/(1+x['VỐN CHỦ SỞ HỮU'])

    x['tax_rate'] = 1-(x['Lãi/(lỗ) thuần sau thuế']/(1+x['Lãi/(lỗ) ròng trước thuế']))
    x['op'] = (x['Lãi gộp'] + x['Chi phí bán hàng'] + x['Chi phí quản lý doanh  nghiệp'])
    x['core_e'] = x['op'] * (1 - x['tax_rate'])
    x['fin_income'] = x['Thu nhập tài chính'] + (x['Chi phí tài chính'] - x['Trong đó: Chi phí lãi vay'])
    x['EBT'] = x['op'] + x['Trong đó: Chi phí lãi vay']
    
   
    x['cf_div'] = x['Cổ tức đã trả'] + x['Chi trả cho việc mua lại, trả lại cổ phiếu']
    x['cf_delta_debt'] = x['Tiền thu được các khoản đi vay'] + x['Tiển trả các khoản đi vay'] + x['Tiền thanh toán vốn gốc đi thuê tài chính']
    x['cf_dep'] = x['Khấu hao TSCĐ'] 
    # + x['Chi phí dự phòng']
    x['cf_khac'] = (x['Lưu chuyển tiền thuần từ các hoạt động sản xuất kinh doanh']+x['Lưu chuyển tiền tệ ròng từ hoạt động đầu tư']+x['Lưu chuyển tiền tệ từ hoạt động tài chính']) - (x['Lãi/(lỗ) thuần sau thuế']+x['cf_dep']+x['Tiền mua tài sản cố định và các tài sản dài hạn khác']+x['Tiền thu từ phát hành cổ phiếu và vốn góp']+x['cf_delta_debt']+x['cf_div'])
    
    x['operating_EBITDA'] = x['op']+x['cf_dep']
    x['EBITDA'] = (x['Lãi/(lỗ) ròng trước thuế']-x['Thu nhập khác, ròng'] + x['cf_dep'] - x['Trong đó: Chi phí lãi vay'])


    return x

col1 = ['Lãi gộp', 'op', 'EBT', 'Lãi/(lỗ) ròng trước thuế', 'Lãi/(lỗ) thuần sau thuế', 'Lợi nhuận của Cổ đông của Công ty mẹ', 'core_e','EBITDA']
col2 = ['Doanh số thuần', 'Lãi gộp', 'op', 'EBT', 'Lãi/(lỗ) ròng trước thuế', 'Lãi/(lỗ) thuần sau thuế', 'Lợi nhuận của Cổ đông của Công ty mẹ', 'core_e','EBITDA']

def margin_func(x):
    for i in col1:
        x[i + "_m"] = x[i] / (1+x['Doanh số thuần'])
    return x

def g_func(x):
    for i in col2:
        x["g_" + i] = x[i].pct_change(periods=1) 
    x['roe'] = x['Lãi/(lỗ) thuần sau thuế']/x['VỐN CHỦ SỞ HỮU'].rolling(2, min_periods=2).mean()
    x['roe_core'] = x['core_e']/x['VỐN CHỦ SỞ HỮU'].rolling(2, min_periods=2).mean()
    x['roa'] = x['Lãi/(lỗ) thuần sau thuế']/x['TỔNG TÀI SẢN'].rolling(2, min_periods=2).mean()
    return x

def get_fs_Y(ticker):
    bs = financial_report(ticker,'BalanceSheet','Yearly')
    # bs = bs.loc[:, (bs==0).mean() < .6]
    pl = financial_report(ticker,'IncomeStatement','Yearly')
    # pl = pl.loc[:, (pl==0).mean() < .6]
    cf = financial_report(ticker,'CashFlow','Yearly')
    cf = cf.rename(columns={'Unnamed: 0': 'CHỈ TIÊU'})
    cf.set_index('CHỈ TIÊU', inplace=True)
    cf2 = pd.DataFrame(index = {'Khấu hao TSCĐ':'CHỈ TIÊU'}, columns = cf.columns).fillna(0)
    if cf2.index[0] in cf.index:
        pass
    else:
        cf = pd.concat([cf,cf2],axis=0)
    cf = cf.reset_index().rename(columns={'index': 'CHỈ TIÊU'})

    fs = pd.concat([bs,pl,cf])
    fs = fs.T
    fs.columns = fs.iloc[0]
    fs = fs.iloc[1:,:]
    #delete all the row with NaN value > 40
    fs = fs.dropna(axis=0,thresh=40)
   #Dropping rows if more than half of the values are zeros 
    # fs = fs.loc[fs.isna().sum(axis=1)<50]
    fs = add_ratios_Y(fs)
    fs = margin_func(fs)
    fs = g_func(fs)
    fs['dates'] = fs.index.astype(int)
    return fs


def get_data_Y(ticker):
    x = get_fs_Y(ticker)
    x = pl.from_pandas(x)
    # y = get_mc(ticker)
    # x = pl.concat([y,x],how='align')
    # x = x.with_columns((pl.col('mc')/pl.col('Lãi/(lỗ) thuần sau thuế_4Q')).alias('P/E'))
    # x = x.with_columns((pl.col('mc')/pl.col('VỐN CHỦ SỞ HỮU')).alias('P/B'))
    # x = x.with_columns([(pl.col('dates').dt.strftime("%Y")).alias('dates')])
    return x

In [14]:
x = get_data_Y('VHM')
x = x.to_pandas(x)
x.to_excel('VHM.xlsx')

C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['bs_cash'] = x['Tiền và tương đương tiền'] + x['Giá trị thuần đầu tư ngắn hạn']
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['bs_ar'] = x['Các khoản phải thu'] + x['Phải thu dài hạn']
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['bs_fa'] = x['GTCL TSCĐ hữu hình'] + x['GTCL Tài sản thuê tài chính'] + x['GTCL tài sản cố định vô hình'] + x['Bất động sản đầu tư']
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['bs_gross_fa'] = x['Nguyên giá TSCĐ hữu hình'] + x['Nguyên giá tài sản thuê tài chính'] + x['Nguyên giá TSCĐ vô hình'] + x['Nguyên giá tài sản đầu tư']
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['other_asset'] = (x['TỔNG TÀI SẢN'] - x['bs_cash'] - x['bs_ar'] - x['Hàng tồn kho, ròng'] - x['bs_fa'] - x['Tài sản dở dang dài hạn']-x['Đầu tư dài hạn'])
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['bs_cust_pre'] = x['Doanh thu chưa thực hiện ngắn hạn'] + x['Doanh thu chưa thực hiên'] + x['Người mua trả tiền trước'] + x['Người mua trả tiền trước dài hạn']
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['debt'] = x['Vay ngắn hạn'] + x['Vay dài hạn'] + x['Trái phiếu chuyển đổi']
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['other_lia'] = (x['NỢ PHẢI TRẢ'] - x['debt'] - x['Phải trả người bán'] - x['bs_cust_pre'])
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['other_equity'] = (x['VỐN CHỦ SỞ HỮU'] - x['Vốn góp'] - x['Lãi chưa phân phối'] - x['Cổ phiếu Quỹ'])
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['netdebt'] = (x['debt'] - x['bs_cash'])
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['ca/ta'] = x['TÀI SẢN NGẮN HẠN']/(1+x['TỔNG TÀI SẢN'])
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['de'] = x['debt']/(1+x['VỐN CHỦ SỞ HỮU'])
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['tax_rate'] = 1-(x['Lãi/(lỗ) thuần sau thuế']/(1+x['Lãi/(lỗ) ròng trước thuế']))
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['op'] = (x['Lãi gộp'] + x['Chi phí bán hàng'] + x['Chi phí quản lý doanh  nghiệp'])
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['core_e'] = x['op'] * (1 - x['tax_rate'])
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['fin_income'] = x['Thu nhập tài chính'] + (x['Chi phí tài chính'] - x['Trong đó: Chi phí lãi vay'])
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['EBT'] = x['op'] + x['Trong đó: Chi phí lãi vay']
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['cf_div'] = x['Cổ tức đã trả'] + x['Chi trả cho việc mua lại, trả lại cổ phiếu']
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['cf_delta_debt'] = x['Tiền thu được các khoản đi vay'] + x['Tiển trả các khoản đi vay'] + x['Tiền thanh toán vốn gốc đi thuê tài chính']
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['cf_dep'] = x['Khấu hao TSCĐ']
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['cf_khac'] = (x['Lưu chuyển tiền thuần từ các hoạt động sản xuất kinh doanh']+x['Lưu chuyển tiền tệ ròng từ hoạt động đầu tư']+x['Lưu chuyển tiền tệ từ hoạt động tài chính']) - (x['Lãi/(lỗ) thuần sau thuế']+x['cf_dep']+x['Tiền mua tài sản cố định và các tài sản dài hạn khác']+x['Tiền thu từ phát hành cổ phiếu và vốn góp']+x['cf_delta_debt']+x['cf_div'])
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['operating_EBITDA'] = x['op']+x['cf_dep']
C:\Users\HP PAVILION\AppData\Local\Temp\ipykernel_19260\1099354818.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['EBITDA'] = (x['Lãi/(lỗ) ròng trước thuế']-x['Thu nhập khác, ròng'] + x['cf_dep'] - x['Trong đó: Chi phí lãi vay'])